.getstarted {
    padding: 100px 0;
    font-family: "Work Sans", sans-serif;
    height: 80vh;
    display: flex;
    flex-direction: row;
    /* Side by side */
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    /* Space between text and image */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem;
    padding-right: 0rem;
}


.content-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align content to right */
    text-align: right;
    margin-top: 5rem;
    margin-right: -15rem;
}

.image-side {
    flex: 1;
    display: flex;
    margin-top: 8rem;
    height: 80%;
    margin-left: -15rem;
}

.image-side img {
    opacity: 0.9;
}

.getstarted h1 {
    text-align: right;
    font-size: 60px;
    color: var(--primary-text);
    margin: 0 0 1rem 0;
}

.getstarted p {
    text-align: right;
    font-size: 21px;
    color: gray;
    margin: 0 0 2.5rem 0;
    max-width: 600px;
}


.getstarted button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    margin-top: -0.6rem;
    font-family: inherit;
    /* font-size: inherit; */
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 17px;
    border-radius: 90px;
    overflow: hidden;
    background: var(--secondary-text);
    color: white;
}

.getstarted button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.getstarted button:hover span {
    color: #F8FAFF;
}

.getstarted button::before,
.getstarted button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.getstarted button::before {
    content: "";
    background: var(--primary-text);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.getstarted button:hover::before {
    transform: translate3d(100%, 0, 0);
}

@media (max-width: 1024px) {
    .getstarted {
        flex-direction: column-reverse;
        padding: 50px 20px;
        height: auto;
        gap: 2rem;
    }

    .image-side {
        width: 100%;
        margin: 0;
        justify-content: center;
        margin-top: 2rem;
        height: auto;
    }

    .image-side img {
        max-width: 100%;
        height: auto;
    }

    .content-side {
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    .getstarted h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .getstarted p {
        text-align: center;
        font-size: 1.125rem;
        margin-right: 0;
    }
}