@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Geist:wght@100..900&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.frank-ruhl-libre {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --bg: #F8FAFF;
  --primary-text: #60A5FA;
  --secondary-text: #2563EB;
}

body {
  background: var(--bg);
  color: var(--secondary-text);
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: #60A5FA;
  color: white;
}

/* For Firefox */
::-moz-selection {
  background-color: #60A5FA;
  color: white;
}