/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --primary-text: #1A1A1A;
    --secondary-text: #000000;
}

/* Dark mode variables removed */

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #60A5FA;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
    /* hover effect */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #60A5FA #f1f1f1;
}